___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [195]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [196]:
print(pd.__version__) 
pd.show_versions()

1.2.4

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.8.8.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.11.0-27-generic
Version          : #29~20.04.1-Ubuntu SMP Wed Aug 11 15:58:17 UTC 2021
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : uk_UA.UTF-8
LOCALE           : uk_UA.UTF-8

pandas           : 1.2.4
numpy            : 1.20.1
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.0.1
setuptools       : 52.0.0.post20210125
Cython           : 0.29.23
pytest           : 6.2.3
hypothesis       : None
sphinx           : 4.0.1
blosc            : None
feather          : None
xlsxwriter       : 1.3.8
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.22.0
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : 1.3.2
fsspec           : 0.9.0
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.7
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.2
sqlalchemy       : 1.4.15
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.53.1

In [197]:
df = pd.read_csv('Ecommerce Purchases')
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

Скільки рядків і стовпців в наборі даних:

In [198]:
df.shape

(10000, 14)

In [199]:
print(f'Кількість рядків: {df.shape[0]}')
print(f'Кількість стовпців: {df.shape[1]}')

Кількість рядків: 10000
Кількість стовпців: 14

Перевірити, чи в наборі даних містяться порожні значення:

In [200]:
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

Яка середня ціна закупки (Purchase Price):

In [202]:
df['Purchase Price'].mean()

50.34730200000025

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [203]:
(df['Language'] == 'en').sum()

1098

Скільки людей має посаду «Lawyer»?

In [204]:
len(df[df['Job'] == 'Lawyer'])

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [205]:
df.groupby('AM or PM')['AM or PM'].count()

AM or PM
AM    4932
PM    5068
Name: AM or PM, dtype: int64

Які 5 найпоширеніших назв вакансій?

In [206]:
df['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [207]:
df[df['Lot'] == "90 WT"][['Company', 'Purchase Price']]

        Company  Purchase Price
513  Bright PLC            75.1

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [208]:
df[df['Credit Card'] == 4926535242672853][ 'Email'].iloc[0]

'bondellen@williams-garza.com'

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [209]:
# Максимальна вартість покупки дорівнює 99.9 доларів
df['Purchase Price'].max()

99.99

In [210]:
len(df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 99.9)])

1

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [211]:
len(df[df['CC Exp Date'].str.endswith('25')])

1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [212]:
df_email = df['Email'].str.split(pat="@", expand=True)
df_email[1].value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: 1, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [213]:
df.groupby(['Browser Info', 'Job'])[['IP Address']].count().sort_values('IP Address', ascending=False)

                                                                                          IP Address
Browser Info                                       Job
Mozilla/5.0 (compatible; MSIE 7.0; Windows NT 6... Special educational needs teacher               2
Mozilla/5.0 (compatible; MSIE 5.0; Windows 98; ... Industrial buyer                                2
Mozilla/5.0 (compatible; MSIE 8.0; Windows NT 5... Research officer, political party               2
Mozilla/5.0 (compatible; MSIE 8.0; Windows NT 5... Engineer, land                                  2
Mozilla/5.0 (compatible; MSIE 6.0; Windows NT 6... Emergency planning/management officer           2
...                                                                                              ...
Mozilla/5.0 (Windows NT 6.2; sl-SI; rv:1.9.0.20... Teacher, secondary school                       1
Mozilla/5.0 (Windows NT 6.2; sl-SI; rv:1.9.0.20... Cabin crew                                      1
Mozilla/5.0 (Windows NT 6.2; sl-SI; rv:1.9.0.20... Biomedical scientist                            1
Mozilla/5.0 (Windows NT 6.2; sl-SI; rv:1.9.0.20... Advertising copywriter                          1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.... Scientist, forensic                             1

[9989 rows x 1 columns]

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [214]:
def calculate_price(el):
    if el > 50:
        return el * 1.2
    elif el > 100:
        return el * 1.1
    else:
        return el * 1.3

df['Actual price'] = round(df['Purchase Price'].map(calculate_price), 2)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.77
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.88
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.23
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.65
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.38

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [215]:
# df_rank = df[['Language', 'Actual price']].copy()
df['rank'] = df.groupby(['Language'])['Actual price'].rank(ascending = False)
df = df.sort_values(by=['Language', 'rank'], ascending=True)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price,rank
7807,"PSC 6177, Box 1004\nAPO AA 57143-1269",64 Nf,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_4)...,"Porter, Johnson and Pratt",30109394842259,11/25,918,VISA 16 digit,kelli72@gmail.com,"Surveyor, insurance",89.51.92.242,de,99.99,119.99,1.0
9856,"058 Miranda Locks Suite 792\nPort Davidstad, P...",73 IW,PM,Mozilla/5.0 (Windows NT 5.0) AppleWebKit/5360 ...,Olson-Navarro,6011037226242937,03/18,757,American Express,brendastewart@dalton.info,Site engineer,96.79.250.154,de,99.97,119.96,2.0
4839,"PSC 2750, Box 0268\nAPO AP 40163-4232",02 be,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_8...,"Powell, Martin and Henry",3337679961779856,02/19,502,JCB 16 digit,karenrichardson@yahoo.com,"Surveyor, mining",77.88.25.173,de,99.91,119.89,3.0
3079,"7728 Kirby Flats Suite 330\nTracymouth, OK 06688",52 sy,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,Walker Group,869911376939318,06/20,897,JCB 16 digit,zbailey@gmail.com,Environmental manager,161.162.101.178,de,99.90,119.88,4.0
846,"873 Emma Divide Apt. 427\nPort Barbara, WA 805...",82 Ve,AM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.6.20) G...,Brooks LLC,379526840357419,01/22,554,JCB 16 digit,rachel72@gmail.com,Veterinary surgeon,38.238.35.233,de,99.73,119.68,5.0

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [224]:
df['Language_code'] = df['Language'].astype('category').cat.codes
df.drop(['Language'], axis=1)
df.head(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price,rank,Language_code
7807,"PSC 6177, Box 1004\nAPO AA 57143-1269",64 Nf,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_4)...,"Porter, Johnson and Pratt",30109394842259,11/25,918,VISA 16 digit,kelli72@gmail.com,"Surveyor, insurance",89.51.92.242,de,99.99,119.99,1.0,0
9856,"058 Miranda Locks Suite 792\nPort Davidstad, P...",73 IW,PM,Mozilla/5.0 (Windows NT 5.0) AppleWebKit/5360 ...,Olson-Navarro,6011037226242937,03/18,757,American Express,brendastewart@dalton.info,Site engineer,96.79.250.154,de,99.97,119.96,2.0,0
4839,"PSC 2750, Box 0268\nAPO AP 40163-4232",02 be,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_8...,"Powell, Martin and Henry",3337679961779856,02/19,502,JCB 16 digit,karenrichardson@yahoo.com,"Surveyor, mining",77.88.25.173,de,99.91,119.89,3.0,0
3079,"7728 Kirby Flats Suite 330\nTracymouth, OK 06688",52 sy,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,Walker Group,869911376939318,06/20,897,JCB 16 digit,zbailey@gmail.com,Environmental manager,161.162.101.178,de,99.90,119.88,4.0,0
846,"873 Emma Divide Apt. 427\nPort Barbara, WA 805...",82 Ve,AM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.6.20) G...,Brooks LLC,379526840357419,01/22,554,JCB 16 digit,rachel72@gmail.com,Veterinary surgeon,38.238.35.233,de,99.73,119.68,5.0,0

Кінцевий набір даних збережіть у файл з розширенням csv.

In [225]:
df.to_csv('Ecommerce Purchases 2')