#### Завдання 1

Створіть базу даних, що складається з таких таблиць:

    1. Таблиця "football_players"
        - ID (унікальний номер гравця)
        - First_name (ім'я гравця)
        - Second_name (прізвище гравця)
        - Birthday (дата народження)

    2. Таблиця "football teams"
        - Name (ім'я футбольного клубу)
        - City 

    3. Таблиця "player_in_team"
        - Player ID (унікальний номер гравця, з таблиці "football_players")
        - Team name (ім'я клубу, з таблиці "football teams")
        - Start_date (дата, коли гравець вступив у клуб)

    Напишіть програму, що дасть можливість вводити дані.

In [28]:
import sqlite3

conn = sqlite3.connect('football.sqlite3')
curs = conn.cursor()
curs.execute("CREATE TABLE football_players (id INTEGER, first_name TEXT, second_name TEXT, birthday DATE)")
curs.execute("CREATE TABLE football_teams(name TEXT, city TEXT)")
curs.execute("CREATE TABLE player_in_team (player_id INT, team_name TEXT, start_date DATE, FOREIGN KEY (player_ID) REFERENCES football_players (id))")
conn.commit()

In [144]:
def create_football_player(conn, football_player):
    """
    Create a new football player into the football_players table
    """
    sql = ''' INSERT INTO football_players(id, first_name, second_name, birthday )
              VALUES(?,?,?,?) '''
    cursor = conn.cursor()
    cursor.execute(sql, football_player)
    conn.commit()
    return cursor.lastrowid

football_player = (input('id '), input('first_name '), input('second_name '), input('birthday '))
football_player_id = create_football_player(conn, football_player)
conn.commit()

id 16
first_name John
second_name Snow
birthday 1999-08-08

In [53]:
def create_football_team(conn, football_team):
    """
    Create a new football team into the football_teams table
    """
    sql = ''' INSERT INTO football_teams(name, city)
              VALUES(?,?) '''
    cursor = conn.cursor()
    cursor.execute(sql, football_team)
    conn.commit()
    return cursor.lastrowid

football_team = (input('name '), input('city '))
football_team_id = create_football_team(conn, football_team)
conn.commit()

name Bears
city Chicago

In [145]:
def create_player_in_team(conn, player_team):
    """
    Create a new player in team into the player_in_team table
    """
    sql = ''' INSERT INTO player_in_team(player_id, team_name, start_date)
              VALUES(?,?,?) '''
    cursor = conn.cursor()
    cursor.execute(sql, player_team)
    conn.commit()
    return cursor.lastrowid

player_team = (input('player_id '), input('team_name '), input('start_date '))
player_team_id = create_player_in_team(conn, player_team)
conn.commit()

player_id 16
team_name Bears
start_date 2021-02-18

#### Завдання 2 
    За заданою назвою футбольної команди, виведіть всіх її гравців.

In [146]:
query = """
        SELECT team_name, first_name, second_name
        FROM football_players INNER JOIN player_in_team 
        ON football_players.id = player_in_team.player_id 
        INNER JOIN football_teams 
        ON football_teams.name = player_in_team.team_name
        ORDER BY team_name 
        """
con = sqlite3.connect('football.sqlite3')
cursor = con.cursor()
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(f'{row[0]} - {row[1]} {row[2]}')

Bears - Aron Kenly
Bears - John Freeman
Bears - Sem Black
Bears - Rob Flask
Bears - Hordon Ramsey
Bears - Samuel Vens
Bears - John Snow
Dogs - John Bell
Dogs - Derek Berkley
Dogs - Henry Albo
Dogs - Antony Clark
Red Dragons - Frank Li
Red Dragons - Robert Aniston
Red Dragons - Derek Link
Royals - Kenny Swenton
Royals - Tim Winston

In [147]:
query = """
        SELECT team_name, first_name, second_name
        FROM football_players INNER JOIN player_in_team 
        ON football_players.id = player_in_team.player_id 
        INNER JOIN football_teams 
        ON football_teams.name = player_in_team.team_name
        WHERE team_name = 'Dogs'
        """
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(f'{row[0]} - {row[1]} {row[2]}')

Dogs - John Bell
Dogs - Derek Berkley
Dogs - Henry Albo
Dogs - Antony Clark

#### Завдання 3
    Виведіть топ-5 найстарших гравців.

In [148]:
query = """
        SELECT birthday, first_name, second_name
        FROM football_players 
        ORDER BY birthday ASC
        LIMIT 5
        
        """
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(f'{row[0]} - {row[1]} {row[2]}')

1989-05-05 - Tim Winston
1990-01-01 - John Bell
1990-12-05 - Hordon Ramsey
1991-09-16 - Henry Albo
1993-10-27 - Sem Black

#### Завдання 4
    Виведіть команду та гравців, які приєдналися до команди у 2020 році

In [154]:
query = """
        SELECT team_name, first_name, second_name, start_date
        FROM football_players INNER JOIN player_in_team 
        ON football_players.id = player_in_team.player_id 
        INNER JOIN football_teams 
        ON football_teams.name = player_in_team.team_name
        WHERE start_date BETWEEN '2020-01-01' AND '2020-12-31'
        """
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(f'{row[0]}, {row[3]} - {row[1]} {row[2]}')

Dogs, 2020-03-03 - John Bell
Royals, 2020-07-15 - Kenny Swenton
Dogs, 2020-08-08 - Henry Albo